@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
  --h1: 40px;
  --h2: 32px;
  --h3: 28px;
  --h4: 24px;
  --h5: 20px;
  --h6: 16px;

  --sub: 20px;

  --label: 16px;
  --ls: 5px;

  --body: 14px;

  --color-dark-100: rgba(33, 37, 41, 1);
  --color-dark-75: rgba(33, 37, 41, 0.75);
  --color-dark-50: rgba(33, 37, 41, 0.5);
  --color-dark-25: rgba(33, 37, 41, 0.25);

  --color-white-100: rgba(255, 255, 255, 1);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-25: rgba(255, 255, 255, 0.25);

  --color-green-100: rgba(116, 198, 157, 1);
  --color-green-75: rgba(116, 198, 157, 0.75);
  --color-green-50: rgba(116, 198, 157, 0.5);
  --color-green-25: rgba(116, 198, 157, 0.25);

  --font-1: "Crimson Text", serif;
  --font-2: "Work Sans", sans-serif;

  --shadow-1: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
}

/**
* ! removing default styles of the browser 
**/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
* ! Style rules for Label text
**/

.label {
  font-family: var(--font-2);
  font-size: var(--label);
  letter-spacing: var(--ls);
  text-transform: uppercase;
  font-weight: 700;
}

/**
* ! Style rules for text colors
**/

.text-white {
  color: var(--color-white-100);
}

.text-dark {
  color: var(--color-dark-100);
}

.text-green {
  color: var(--color-green-100);
}

/**
* ! Style rules for buttons
**/

.white-btn,
.dark-btn {
  color: var(--color-dark-100);
  background-color: var(--color-white-100);
  font-family: var(--font-2);
  font-size: var(--h5);
  padding: 10px 40px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.dark-btn {
  color: var(--color-white-100);
  background-color: var(--color-dark-100);
}

/**
* ! Style rules for responsive images
**/

.responsive-image {
  max-width: 100%;
  height: auto;
}

/**
* ! Common style rules
**/

.container {
  max-width: 1140px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.grid {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 25px;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.common-title {
  text-transform: capitalize;
  font-family: var(--font-1);
  font-size: var(--h1);
  font-weight: bold;
}

/**
* ! Style rules for Hero section 
*/

.hero {
  background-color: var(--color-green-100);
}

/**
* ! Style rules for Navbar 
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__logo--text {
  font-size: var(--h2);
  font-family: var(--font-2);
  color: var(--color-white-100);
  font-weight: 500;
}

.navbar__menu {
  display: flex;
  font-family: var(--font-2);
  font-size: var(--h5);
  gap: 15px;
}

[class^="navbar__menu-"] {
  text-decoration: none;
  color: var(--color-white-100);
}

.navbar__icons {
  display: none;
}

.navbar__icons i {
  font-size: var(--h2);
  color: var(--color-white-100);
  cursor: pointer;
}

.hide {
  display: none;
}

/**
* ! style rules for footer
**/

.footerWrapper {
  background-color: var(--color-green-100);
}

.footerLinks {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.footerLinks__socials {
  display: flex;
  gap: 10px;
}

.footerLinks__copyright {
  font-size: var(--sub);
  font-family: var(--font-2);
}

/**
* ! Media query rules are here
**/

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .common-title {
    font-size: var(--h2);
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 740px;
  }
  .common-title {
    font-size: var(--h4);
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
  .white-btn,
  .dark-btn {
    font-size: var(--h6);
    padding: 8px 25px;
  }

  .navbar__menu {
    z-index: 1;
    background-color: var(--color-green-100);
    position: absolute;
    opacity: 100%;
    top: 100px;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .navbar__menu--1 {
    margin-top: -200px;
  }
  .navbar__icons {
    display: block;
  }

  .hidden {
    z-index: -1;
    opacity: 0%;
  }
  .footerLinks {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 568px) {
  .container {
    max-width: 90%;
  }
}
