.sectionOne {
  margin-top: 25px;
  margin-bottom: 30px;
  display: grid;
  gap: 20px;
}

.sectionOne__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.sectionOne__btn {
  justify-self: center;
}

.sectionOne__content--text {
  font-size: var(--sub);
  font-family: var(--font-2);
}

@media (max-width: 568px) {
  .sectionOne__images {
    grid-template-columns: repeat(1, 1fr);
  }
}
