body {
  display: grid;
  min-height: 100vh;
}

.hero {
  align-self: start;
}

.footerWrapper {
  align-self: end;
}
.sectionOne {
  margin-top: 30px;
  margin-bottom: 40px;
}

.sectionOne__cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--font-2);
  text-align: center;
  gap: 50px;
}

.sectionOne__content--text {
  font-size: var(--sub);
  font-family: var(--font-2);
}

[class^="sectionOne__cards--"] {
  /* border: 2px solid red; */
  padding: 40px 40px;
  border-radius: 6px;
  display: grid;
  gap: 15px;
  box-shadow: var(--shadow-1);
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.amount {
  font-size: var(--h1);
  font-weight: bold;
}

.time {
  font-size: var(--body);
  color: var(--color-dark-75);
}

.info {
  color: var(--color-dark-75);
}

.bi-check-lg {
  color: var(--color-green-100);
}

.features {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dark-btn {
  justify-self: center;
}

@media (max-width: 1024px) {
  .sectionOne__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .sectionOne__cards {
    grid-template-columns: repeat(1, 0.7fr);
    justify-content: center;
  }
}

@media (max-width: 568px) {
  .sectionOne__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
